<div class="page-header">
	<div class="container">
		<h1>Routing Simple</h1>
		<div class="navLinks">
			<a [routerLink]="['/home']">Home</a>
			<a [routerLink]="['/destino/:id']">Detalle</a>
		</div>
		<div>
			<router-outlet></router-outlet>
		</div>
	</div>
</div>


Fecha: {{ time | async }}